* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    transition: 0.4s;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: whitesmoke;
    margin: 20px;
    text-transform: uppercase;
}

.second-h2 {
    font-size: 1rem;
    margin: 0;
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

body {
    background-color: black;
}

canvas {
    display: block;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#burger {
    position: absolute;
    right: 25px;
    cursor: pointer;
}

.burger_line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 7px;
    border-radius: 3px;
    transition: all 0.4s;
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(45deg) translate(8px, 6px);
}

.crossed_line #line_3 {
    transform: rotate(-45deg) translate(8px, -6px);
}

#visualsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#geometrysection {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 80px;
}

#geometries {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 600px;
}

#buttonlist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    column-gap: 40px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
}

button {
    height: 50px;
    width: 120px;
    background-color: white;
    scroll-snap-type: start;
}

button:hover {
    background-color: black;
    border: 3px solid white;
}

button:hover p {
    color: whitesmoke;
}

.slidebutton {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

#arrowright {
    height: 30px;
    width: auto;
    transform: rotate(90deg);
}

#arrowleft {
    height: 30px;
    width: auto;
    transform: rotate(-90deg);
}

.aside-inactive {
    opacity: 0;
}

#aside {
    height: 350px;
    width: 175px;
    position: absolute;
    top: 150px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid whitesmoke;
    border-right: 0;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    animation: fade 0.2s;
}

#optionsection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.option {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label p {
    font-size: 0.875rem;
    line-height: 1.5625rem;
    color: whitesmoke;
}

#resetbutton,
#applybutton {
    width: 80px;
    height: 40px;
}