* {
    margin: 0px;
    transition: 0.7s;
}

::-webkit-scrollbar{
    width: 0px;
}

canvas {
    display: block;
    background-color: burlywood;
    /* padding: 20px; */
    position:absolute;
    width: 100vw;
    height: 100vh;
}